:host{
    .drawing-area {
        position: relative;
        cursor: pointer;
        border-radius: 0px 0px 195px 195px;
    }
      
    .shot {
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        z-index: 999;
    }

    .goal {
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
        position: absolute;
        z-index: 999;
    }

    .padded-row {
        display: table-cell;
        max-width: 600px;
        padding-bottom: 20px;
    }

    .panel-content {
        display: flex;
    }

    .game-info-section {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .buttons-section {
            display: flex;
            flex-direction: row;
        }
        .statistics-section {
            padding-top: 20px;
        }
    }

    .undo-div {
        padding-right: 10px;
    }
}